# Google Apps Analysis

<a id="table_of_contents"></a>

### Table of contents

<ol>
  <li><a href="#overview">Situation Overview</a>
  <ul>
   <li><a href='#dataset'>Examine the overall dataset
    </a></li>
    <li><a href='#cleaning'>Execute cleaning procedures
    </a></li>
    
  </ul>
  </li>
  
  <li><a href="#overview">Exploratory analysis</a>
  <ul>
    <li><a href='#unique_values'>Begin by computing distinct values
    </a></li>
    <li><a href='#null_values'>Identify any null values within the dataset
    </a></li>
    <li><a href='#apps_by_category'>Find out the number of apps by category
    </a></li>
    <li><a href='#apps_by_rating'>Find out the app ratings: minimum, maximum, and average
    </a></li>
    </ul>
  </li>  
  
  <li><a href="#analysis">Data analysis</a>
  <ul>
    <li><a href='#free_paid_apps'>Comparing ratings between free and paid apps
    </a></li>
    </ul>
  </li>  
</ol>

<a id="overview"></a>
## Situation Overview
An application developer objective is to create a successful Andrioid App, in order to make an informed decision the developer wants to answer the following questions:

1. what app categories are the most popular?
2. Which is the most optimal price?
3. Which is the best way to maximize users ratings?

<a href="#table_of_contents">Navigate to contents</a>

<a id="dataset"></a>
Examine the overall dataset
<br>
<a href="#table_of_contents">Navigate to contents</a>

In [10]:
#load sql extension
%load_ext sql

In [11]:
#connect to mysql database
%sql mysql://root:NilArj_21@localhost:3306/project

In [12]:
%%sql 
select * from googleplaystore 
limit 3

 * mysql://root:***@localhost:3306/project
3 rows affected.

[('Photo Editor & Candy Camera & Grid & ScrapBook', 'ART_AND_DESIGN', 4.1, '159', '19M', '10,000+', 'Free', '0', 'Everyone', 'Art & Design', 'January 7, 2018', '1.0.0', '4.0.3 and up'),
 ('Coloring book moana', 'ART_AND_DESIGN', 3.9, '967', '14M', '500,000+', 'Free', '0', 'Everyone', 'Art & Design;Pretend Play', 'January 15, 2018', '2.0.0', '4.0.3 and up'),
 ('U Launcher Lite – FREE Live Cool Themes, Hide Apps', 'ART_AND_DESIGN', 4.7, '87510', '8.7M', '5,000,000+', 'Free', '0', 'Everyone', 'Art & Design', 'August 1, 2018', '1.2.4', '4.0.3 and up')]

In [13]:
%%sql 
select * from googleplaystore_user_reviews
limit 3

 * mysql://root:***@localhost:3306/project
3 rows affected.

[('10 Best Foods for You', 'I like eat delicious food. That\'s I\'m cooking food myself, case "10 Best Foods" helps lot, also "Best Before (Shelf Life)"', 'Positive', 1.0, 0.5333333333333333),
 ('10 Best Foods for You', 'This help eating healthy exercise regular basis', 'Positive', 0.25, 0.2884615384615384),
 ('10 Best Foods for You', None, None, None, None)]

In [14]:
%%sql
select column_name, data_type
from information_schema.columns
where table_schema = "project"
    and table_name = "googleplaystore"

 * mysql://root:***@localhost:3306/project
13 rows affected.

[('Android Ver', 'text'),
 ('App', 'text'),
 ('Category', 'text'),
 ('Content Rating', 'text'),
 ('Current Ver', 'text'),
 ('Genres', 'text'),
 ('Installs', 'text'),
 ('Last Updated', 'text'),
 ('Price', 'text'),
 ('Rating', 'double'),
 ('Reviews', 'text'),
 ('Size', 'text'),
 ('Type', 'text')]

In [15]:
%%sql
select column_name, data_type
from information_schema.columns
where table_schema = "project"
    and table_name = "googleplaystore_user_reviews"

 * mysql://root:***@localhost:3306/project
5 rows affected.

[('App', 'text'),
 ('Sentiment', 'text'),
 ('Sentiment_Polarity', 'double'),
 ('Sentiment_Subjectivity', 'double'),
 ('Translated_Review', 'text')]